/* CSS Demo Stylesheet */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* global styles and CSS box model*/
body{
    background-color:lemonchiffon;
    font-family: "Quicksand", sans-serif;
}

header.primary{
    background:rgb(171, 106, 145);
}