html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
img {
  max-width: 100%;
  height: auto;
}
body{
    background-color: #56678c;
}

body{
    margin: 0;
    font-family: "Roboto Condensed", serif;
  }
  
  