/* color scheme
#506184 lighter grey
#3C4862 grey
#56678C Main background
#272F40 Text
#8FABEA light blue
#7A93C8 darker blue
*/

/* -------Box Sizing------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* navigation */
* {
list-style-type: none;
text-decoration: none;
}

body {
background: black;
}

ul {
color: #F5F3E7;
display: flex;
font-family: "Orbitron", serif;
justify-content: space-between;
width: 100%;
height: 8vh;
margin: auto;
max-width: 2000px;
background: #123456;
text-align: center;
}

li {
padding: 1rem 2rem;
text-transform: uppercase;
color: #F5F3E7;
min-width: 100px;
margin: auto;
cursor: pointer;
}

li:hover {
border-bottom: 2px solid #8FABEA;
transform: translateY(-10px);
}

nav a {
  color:white;
}

/* -------Images------*/
img {
max-width: 100%;
height: auto;
}
/* -------Global Styles------*/
body {
background-color: #38445e;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2398a6c3' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
body {
  margin: 0;
  font-family: "Roboto Condensed", serif;
}

section#intro h1 {
  width:  250px;
  height: 160px;
  background: url(/final-v1/assets/img/logo.png);
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 


section#intro {
justify-content:space-around;
display:flex;
flex-direction:row;

}

section#intro article.heading {
background: url(/final-v1/assets/img/earth.jpg);
background-size: cover;
font-family: "Orbitron", serif;
text-align: center;
color: #272F40;
font-size: 1.6rem;
box-shadow: 5px 5px #272F40;
padding: 25px;
width: 50%;
float: left;
border-bottom: 3px solid #8FABEA;
border-top: 3px solid #8FABEA;
}

section#intro article.overview {
background: #38445e;
color:#F5F3E7;
font-size: 1.3rem;
box-shadow: 5px 5px #272F40;
padding: 25px;
width: 50%;
float: left;
border-bottom: 3px solid #8FABEA;
border-top: 3px solid #8FABEA;
}

section#content h2 {
font-family: "Orbitron", serif;
font-size: 2.0rem;
text-align: center;
color: #F5F3E7;
}

section#content {
padding: 75px;
color: #F5F3E7;
}

section#content h3 {
font-size: 1.5rem;
font-family: "Orbitron", serif;
}

section#content h3 {
border-left: 9px solid #8FABEA;
padding:8.5px 0 5.5px 9px;
}

dt {
font-size: 1.2rem;
margin: 25px 0 10px 0;
border-bottom: 3px solid #8FABEA;
}


footer.primary {
background: #123456;
color: #F5F3E7;
height: 120px;
padding: 10px;
font-size: 1.5rem;
gap: 20px;
display:flex;
flex-direction:row;
text-align: center;
justify-content: center;
border-top:3px solid #8FABEA;
}

/* timeline */

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans";
  position: relative;
}

#timeline {
  margin-top: 225px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  text-align: center;
  padding: 5em;
  position: relative;
  border-bottom: 3px solid #8FABEA;

}

h1 {
  margin-bottom: 1em;
}

footer {
  margin-top: 2em;
}
footer a {
  color: white;
  text-decoration: none;
}

.content {
  background: #fff;
  margin: 0 auto;
  padding: 1em 1em 2em;
  width: 30vw;
  border: 1px solid #ccc;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.box {
  background: #F5F3E7;
  border-radius: 3px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05);
  color: #8FABEA;
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 30px;
  position: relative;
  text-decoration: none;
  margin-left: 105px;
  overflow: inherit;
}
.box:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  margin-left: -70px;
  height: 100%;
  z-index: 10;
  overflow: auto;
  width: 4px;
  background: #8FABEA;
}
.box:last-child:after {
  display: none;
}

.timeline-bubble {
  align-self: center;
  background: #8FABEA;
  border-radius: 50%;
  color: #F5F3E7;
  display: block;
  font-weight: bold;
  left: -105px;
  margin-bottom: 20px;
  padding: 26px 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 75px;
  z-index: 11;
}
/* history table */
section#mission{
  margin-top: 0;
  position: relative;
  bottom: 200px;
}
#history h2{
  color: #F5F3E7;
  font-size: 2.5 rem;
  font-family: "Orbitron", serif;
}
th{
background-color: #F5F3E7;
color: #7A93C8;
padding: 8.0px;
}

td{
color: #F5F3E7;
background-color: #7A93C8;
padding: 8.0px;
}

table{
border: 1px solid #8FABEA;
position: relative;
width: 90%;
margin-bottom: 10px;
margin-left: auto;
margin-right: auto;
}

caption{
color: #F5F3E7;
color: #F5F3E7;
font-family: "Orbitron", serif;
font-size: 1.5rem;
margin: 9px;
margin-top: 25px;
}

/* faq */
.faq-container {
  text-align: left;
  margin: 10px auto 30px auto;
  position: relative;
}
.faq-container article p { margin: 10px 15px 15px 15px; }
.faq-container input[type=checkbox],
.faq-container input[type=radio] {
  background-color: transparent;
  border: 1px solid transparent;
  height: 1px;
  position: absolute;
  width: 1px;
  margin: 4px 0 0 0;
  outline: none;
}
.faq-container input[type=checkbox] + label {
  background: #F5F3E7;
  border-bottom: 1px solid transparent;
  color: #123456;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 32px;
  padding: 10px 15px;
  position: relative;
  z-index: 20;
}
.faq-container input[type=checkbox] + label:before,
.faq-container input[type=checkbox] + label:after{
  font-family: FontAwesome;
  display: inline-block;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}
.faq-container input[type=checkbox] + label:before{
  content: "\f29c";
  padding-right: 10px;
}
.faq-container input[type=checkbox] + label:after{
  content: "\f054";
  float: right;
  padding-left: 10px;
}
.faq-container input[type=checkbox] + label:hover{ background: #8FABEA; }
.faq-container input[type=checkbox]:checked + label,
.faq-container input[type=radio]:checked + label { background: #8FABEA; }
.faq-container input[type=checkbox]:focus + label,
.faq-container input[type=radio]:focus + label { background: #8FABEA; }
.faq-container input[type=checkbox]:checked + label:hover,
.faq-container input[type=radio]:checked + label:hover { background: #8FABEA; }
.faq-container input[type=checkbox]:checked + label:after,
.faq-container input[type=radio]:checked + label:after {
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.faq-container input[type=checkbox] + label + article,
.faq-container input[type=radio] + label + article {
  display: none;
  height: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.faq-container input[type=checkbox]:checked + label + article,
.faq-container input[type=radio]:checked + label + article {
  display: block;
  height: auto;
  max-height: 2000px;
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}

/*js */
img{
  max-width:100%;
}

#contact.container.slick{
  margin:40px auto;
  width:70vw;
  /* Set Max Content Width */
  max-width:700px;
}

/* Customize Previous/Next/Dots/Autoplay */

.slick-autoplay-toggle-button,
.slick-prev .slick-prev-icon, .slick-next .slick-next-icon,
.slick-dots li button .slick-dot-icon,
.slick-dots li.slick-active button .slick-dot-icon {
color: #F5F3E7;
}

/* Customize Previous/Next/Dots/Autoplay - Active State */

.slick-next:focus .slick-next-icon,
.slick-next:focus .slick-prev-icon,
.slick-prev:focus .slick-next-icon,
.slick-prev:focus .slick-prev-icon,
.slick-dots li button:focus .slick-dot-icon:before,
.slick-dots li.slick-active button:focus .slick-dot-icon,
.slick-autoplay-toggle-button:focus 
{
  color:#8FABEA;
}
/* utility classes */
#content{
  width: 90vw;
  max-width:1000px;
  margin: 25px auto; 
}

/* media quieries */
@media screen and (max-width:500px){
#content{
  flex-direction:column;
}
}

@media screen and (max-width:500px){
#intro{
  flex-direction:row;
}
}




